body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

input[type="text"] {
  font-size: 1em;
  padding: 0.5em;
  margin-right: 0.5em;
}

input[type="submit"] {
  font-size: 1em;
  padding: 0.5em;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
}

li {
  list-style: none;
  margin-top: 0.5em;
  padding: 0.5em;
  background-color: lightgray;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: lightcoral;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  cursor: pointer;
}
